$message-width: 1200px;

video {
  max-width: 100%;
  width: 320px;
}

#container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#container-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  width: 20%;
  background-color: #404040;
}

.member {
  list-style: none;
  text-align: left;
}

#container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 70%;
  background-color: #404040;
}

#container-messages {
  height: 95%;
  width: 100%;
  overflow: auto;
}

// #members-list {
// }

.message {
  list-style: none;
  text-align: left;
}

#container-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5%;
  width: 100%;
}

#language-selector {
  width: 100px;
}

#form-message {
  display: flex;
  width: 100%;
}

#input-message {
  width: 100%;
}

#submit-message {
  width: 10%;
}

.modal-username {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 500px;
  // height: 400px;
  overflow: visible;
  border: 1px solid #e2dede;
  border-radius: 5px;
  background-color: #fdf6e5;
  outline: none;
}
