.dd-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
  color: #ff77cb;
}

.dd-header {
  width: 100%;
}

.dd-header-title {
  border-right: solid 1px;
  border-color: #d0caba;
}

.dd-wrapper ul {
  position: absolute;
  bottom: 45px;
  padding: 0;
  width: 100%;
}
.dd-wrapper ul li {
  position: relative;
  list-style: none;
}

.dd-list {
  overflow: auto;
  height: 100px;
}
