#container-modal {
  width: 100%;
  height: 100%;
}

#container-modal p {
  color: #268bd2;
  text-align: center;
  font-size: 30px;
}

#username-form {
  // margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    width: 80%;
    height: 36px;
    font-size: 26px;
    color: #268bd2;
    padding-left: 15px;
    padding-right: 15px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #d0caba;
    background-color: #fdfcf9;
    &:focus {
      outline: none;
    }
  }
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    height: 40px;
    border-radius: 5px;
    background-color: #586e75;
    color: #fdf9ed;
    font-weight: 600;
    font-size: 20px;
    outline: none;
  }

  .error {
    border-color: #268bd2;
  }
}
